#include <stdio.h>
int main() {
// تعريف المتغير وطلب من المستخدم ادخال رقم
int x;
printf("Enter the first number: ");
// استقبال المدخلات من المستخدم
scanf("%d,&x);
//اظهار المدخل المكتوب من المستخدم
printf("The first number you entered is: %d",x);
int y;
printf("\n Enter the second number: ");
scanf("%d",&y);
printf ("The second number is: %d",y);
// تعريف متغير الجمع
int sum = x+y;
printf("InThe sum is: %d" ,sum);
//تعريف متغير الطرح
int sub = x-y;
printf ("\n The substraction is: %d"
‚sub);
//تعريف متغير الضرب
int multi = x*y;
printf ("\n The multipliaction is: % d", multi);
//تعريف متغير القسمة
int div = X/y;
printf ("\n The division is: %d", div);
return 0;
}

